In [1]:
# importing the libraries we need
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly

In [ ]:
#Reading the csv file
benin_malanville_df = pd.read_csv("C:\\Users\\esk\\Desktop\\data\\data\\benin-malanville.csv")

Getting to know the dataset. checking for null values in columns, looking at the shape, head and tail of the dataset,

In [ ]:

#Quick look at the dataset to have an idea of the shape, columns and null values of the dataset
benin_malanville_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.2+ MB

In [ ]:
#The first 5 entries of the dataset
benin_malanville_df.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN

In [ ]:
#The last 5 entries of the dataset
benin_malanville_df.tail()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
525595,2022-08-08 23:56,-5.5,-0.1,-5.9,0.0,0.0,23.1,98.3,0.3,1.1,0.5,119.3,4.1,996,0,0.0,23.5,22.9,NaN
525596,2022-08-08 23:57,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.2,0.7,0.4,115.2,2.3,996,0,0.0,23.5,22.9,NaN
525597,2022-08-08 23:58,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.4,0.6,1.1,0.5,129.8,3.4,996,0,0.0,23.5,22.9,NaN
525598,2022-08-08 23:59,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.9,1.3,0.5,124.4,4.3,996,0,0.0,23.5,22.9,NaN
525599,2022-08-09 00:00,-5.5,-0.1,-5.7,0.0,0.0,23.1,98.3,1.2,1.6,0.3,124.1,5.9,996,0,0.0,23.5,22.9,NaN

Dropping the comment column from the  dataset since it has no value for us

In [ ]:
benin_malanville_df.drop('Comments', axis=1, inplace=True)

Changing the types of the "Timestamp" and "Cleaning" columns

In [7]:
benin_malanville_df['Timestamp'] = pd.to_datetime(benin_malanville_df['Timestamp'])
benin_malanville_df['Cleaning'] = benin_malanville_df['Cleaning'].astype('category')

Exploring the  dataset distribution

In [9]:
benin_malanville_df.iloc[:,1:4].describe()

                 GHI            DNI            DHI
count  525600.000000  525600.000000  525600.000000
mean      240.559452     167.187516     115.358961
std       331.131327     261.710501     158.691074
min       -12.900000      -7.800000     -12.600000
25%        -2.000000      -0.500000      -2.100000
50%         1.800000      -0.100000       1.600000
75%       483.400000     314.200000     216.300000
max      1413.000000     952.300000     759.200000

In [13]:
benin_malanville_df.loc[:,['ModA','ModB','TModA','TModB']].describe()

                ModA           ModB          TModA          TModB
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      236.589496     228.883576      35.246026      32.471736
std       326.894859     316.536515      14.807258      12.348743
min         0.000000       0.000000       9.000000       8.100000
25%         0.000000       0.000000      24.200000      23.600000
50%         4.500000       4.300000      30.000000      28.900000
75%       463.700000     447.900000      46.900000      41.500000
max      1342.300000    1342.300000      81.000000      72.500000

In [14]:
benin_malanville_df.loc[:,['Tamb','RH','WS','WSgust','WSstdev','WD','WDstdev','BP']].describe()

,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000
mean,28.179683,54.487969,2.121113,2.809195,0.473390,153.435172,8.582407,994.197199
std,5.924297,28.073069,1.603466,2.029120,0.273395,102.332842,6.385864,2.474993
min,11.000000,2.100000,0.000000,0.000000,0.000000,0.000000,0.000000,985.000000
25%,24.200000,28.800000,1.000000,1.300000,0.400000,59.000000,3.700000,993.000000
50%,28.000000,55.100000,1.900000,2.600000,0.500000,181.000000,8.600000,994.000000
75%,32.300000,80.100000,3.100000,4.100000,0.600000,235.100000,12.300000,996.000000
max,43.800000,100.000000,19.500000,26.600000,4.200000,360.000000,99.400000,1003.000000

In [15]:
benin_malanville_df.loc[:,['Precipitation']].describe()

       Precipitation
count  525600.000000
mean        0.001905
std         0.037115
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         2.500000

Checking the data quality, looking for nagative values and outliers in each column

In [16]:
#Checking negative values in each column
columns = ['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 'WS',
           'WSgust', 'WSstdev', 'WD', 'WDstdev', 'BP', 'Precipitation','TModA', 'TModB']
for column in columns:
    print(f"{column} {benin_malanville_df[benin_malanville_df[column]<0][column].shape}")

GHI (258847,)
DNI (275987,)
DHI (259182,)
ModA (0,)
ModB (0,)
Tamb (0,)
RH (0,)
WS (0,)
WSgust (0,)
WSstdev (0,)
WD (0,)
WDstdev (0,)
BP (0,)
Precipitation (0,)
TModA (0,)
TModB (0,)

In [ ]:
#Calculating what percentage of the total data has invalid value for "GHI", "DNI" and "DHI" columns 
# in order to figure out the suitable treatment
print((258847/525600)*100)
print((275987/525600)*100)
print((259182/525600)*100)

49.247907153729074
52.50894216133942
49.31164383561644

In [ ]:
#Replace negative values in each column with numpy NAN
for column_index in [1,2,3]:
    if column_index == 1:
        index_ = benin_malanville_df[benin_malanville_df['GHI']<0]['GHI'].index.values.tolist()
        for j in index_:
            benin_malanville_df.iat[j, 1] = np.NAN
    elif column_index == 2:
        index_ = benin_malanville_df[benin_malanville_df['DNI']<0]['DNI'].index.values.tolist()
        for j in index_:
            benin_malanville_df.iat[j, 2] = np.NAN
    elif column_index == 3:
        index_ = benin_malanville_df[benin_malanville_df['DHI']<0]['DHI'].index.values.tolist()
        for j in index_:
            benin_malanville_df.iat[j, 3] = np.NAN

In [ ]:
#Checking if the replacement goes well by counting null values
benin_malanville_df.isnull().sum()

Timestamp             0
GHI              258847
DNI              275987
DHI              259182
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
dtype: int64

In [ ]:
#checking the distribution of those 3 columns after invalid data replaced with 'NA'
benin_malanville_df.iloc[:,1:4].describe()

                 GHI            DNI            DHI
count  266753.000000  249613.000000  266418.000000
mean      476.746489     352.575567     230.808498
std       320.578541     280.657284     150.487752
min         0.000000       0.000000       0.000000
25%       176.900000      54.100000     117.900000
50%       474.200000     345.700000     213.400000
75%       771.900000     602.900000     324.200000
max      1413.000000     952.300000     759.200000

In [32]:
#IQR method outliers identification for each column
columns = ['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 'WS',
           'WSgust', 'WD', 'BP', 'Precipitation','TModA', 'TModB']
for column in columns:
    Q1 = benin_malanville_df[column].quantile(0.25)
    Q3 = benin_malanville_df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = benin_malanville_df[(benin_malanville_df[column] < lower_bound) | (benin_malanville_df[column] > upper_bound)]
    if outliers.shape[0] > 0:
        print(f"Outliers in {column} using IQR:\n{outliers[column].shape}\n")
        print(f"the outlier accounts to {(outliers.shape[0]/525600) * 100} percent of the data\n")

Outliers in DHI using IQR:
(1386,)

the outlier accounts to 0.2636986301369863 percent of the data

Outliers in ModA using IQR:
(98,)

the outlier accounts to 0.018645357686453576 percent of the data

Outliers in ModB using IQR:
(240,)

the outlier accounts to 0.045662100456621 percent of the data

Outliers in Tamb using IQR:
(222,)

the outlier accounts to 0.04223744292237443 percent of the data

Outliers in WS using IQR:
(6717,)

the outlier accounts to 1.2779680365296804 percent of the data

Outliers in WSgust using IQR:
(5368,)

the outlier accounts to 1.0213089802130897 percent of the data

Outliers in BP using IQR:
(10288,)

the outlier accounts to 1.9573820395738204 percent of the data

Outliers in Precipitation using IQR:
(3789,)

the outlier accounts to 0.7208904109589042 percent of the data

Outliers in TModA using IQR:
(1,)

the outlier accounts to 0.0001902587519025875 percent of the data

Outliers in TModB using IQR:
(257,)

the outlier accounts to 0.04889649923896499 percent of the data

In [ ]:
#Checking for outliers in each column